<div class="row">
    <div class="col-xs-6">
        <h2>Create new post</h2>

        <?php if (Mage::getStoreConfig('tab/general/only_reg') === '0'): ?>
            <?php $this->getMessagesBlock()->getMessages() ?>
            <?php $categories = $this->getCategories() ?>
            <?php $tags = $this->getTags() ?>

            <form action="<?php echo $this->getUrl('blog/post/create/'); ?>" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Description" name="description"
                              rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="select">Select Categories</label>
                    <select multiple class="form-control" name="cats[]">
                        <?php foreach($categories as $category): ?>
                            <option value="<?php echo $category->getId() ?>"><?php echo $category->getName() ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="form-group">
                    <label for="select">Select Tags</label>
                    <select multiple class="form-control" name="tags[]">
                        <?php foreach($tags as $tag): ?>
                            <option value="<?php echo $tag->getId() ?>"><?php echo $tag->getName() ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile" name="image">
                    <p class="help-block">Image</p>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        <?php else: ?>
            <h5>
                Please <a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo $this->__('Login') ?></a>
            </h5>
        <?php endif; ?>
    </div>
</div>