<?php $posts = $this->getLastPosts(); ?>

<div class="row">
    <?php foreach($posts as $post): ?>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading"><?php echo $post->getTitle(); ?></div>
                <div class="panel-body">
                        <?php if(!empty($categories = $post->getCategories())): ?>
                            <h4>Categories:
                                <?php echo implode(', ', $categories); ?>
                            </h4>
                        <?php endif; ?>
                    <?php echo $post->getDescription(); ?>
                    <?php if(!empty($tags = $post->getPostTags())): ?>
                        <h6>Tags:
                            <?php echo implode(', ', $tags); ?>
                        </h6>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
</div>
