<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/blog">Mega Blog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                        <a href="<?php echo Mage::helper('customer')->getLoginUrl();?>"><?php echo $this->__('Login') ?></a>
                    <?php else: ?>
                        <a href="<?php echo Mage::helper('customer')->getLogoutUrl();;?>"><?php echo $this->__('Logout') ?></a>
                    <?php endif; ?>
                </li>
            </ul>
        </div>
    </div>
</nav>