<form id="subscribe" action="<?php echo Mage::getUrl('subscribe/subscribe/subscribe');?>">
   <input type="text" class="input-text required-entry validate-email" name="email" value=""/>
   <button type="submit">Subscribe</button>
    <div class="message"></div>
</form>