<div class="hello-block">
    Привет! Я твой блок!
</div>
<?php /*$collection = $this->getLastAddedProducts(); */?><!--

<?php /*foreach($collection as $product): */?>
        <div class="product">
            <?php /*echo $product->getName() */?>
        </div>
--><?php /*endforeach; */?>
