<div class="row">
    <div class="col-xs-6">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <?php echo $this->getChildHtml('customer.form.login.extra')?>
        <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text"
                       name="login[username]"
                       value="<?php echo $this->escapeHtml($this->getUsername()) ?>"
                       id="email"
                       class="form-control input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="login[password]"
                       class="form-control input-text required-entry validate-password"
                       id="password"
                       title="<?php echo $this->__('Password') ?>" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('login-form', true);
        //]]>
    </script>

