.hello-block {
    height: 300px;
}

.product {
    display: inline-block;
    margin-right: 50px;
}

#subscribe {
    position: relative;
}

#subscribe .validation-advice, .message {
    position: absolute;
    top: 25px;
}