
<?php $_element = $this->getElement(); ?>

<?php $this->checkFieldDisable() ?>

<?php
$elementToggleCode = $_element->getToggleCode() ? $_element->getToggleCode()
    : 'toggleValueElements(this, this.parentNode.parentNode)';
?>

<?php if ($_element->getType()=='hidden'): ?>
<tr>
    <td class="hidden" colspan="100"><?php echo trim($_element->getElementHtml()) ?></td>
</tr>
<?php else: ?>
<tr>
    <td class="label"><?php echo trim($_element->getLabel()) ?></td>
    <td class="value">
        <?php echo trim($_element->getElementHtml()) ?>
        <?php if ($_element->getNote()) : ?>
            <p class="note"><?php echo $_element->getNote() ?></p>
        <?php endif; ?>
    </td>
    <?php if ($this->canDisplayUseDefault()): ?>
        <td class="value use-default">
            <input type="checkbox" name="use_default[]" id="<?php echo $_element->getHtmlId() ?>_default" checked="checked" onclick="<?php echo $elementToggleCode; ?>" />
            <label for="<?php echo $_element->getHtmlId() ?>_default" class="normal"><?php echo $this->__('Use Default Value') ?></label>
        </td>
    <?php endif; ?>
</tr>
<?php endif; ?>
